<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - 主页示例</title>
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" href="/css/tpage.css">

</head>

<body class="gray-bg">
<div class="row dashboard-header">
    <div class="col-sm-12">
        <h1>主页示例三</h1>
    </div>
    <div class="ui-paging-container" id="pageTool"></div>
</div>

<!--<script src="/js/plugins/jquery.min.js"></script>-->
<!--<script src="/js/plugins/bootstrap/bootstrap.min.js"></script>-->
<!--<script src="/js/plugins/tpage/query.js"></script>-->
<!--<script src="/js/plugins/tpage/paging.js"></script>-->
<!--<script>-->
    <!--console.log('ffffffdafa')-->
     <!--$('#pageTool').Paging({-->
         <!--pagesize: 20,-->
         <!--count: 20,-->
         <!--current: 5,-->
         <!--toolbar: true,-->
<!--//         callback: function (page, size, count) { //点击页码回调-->
<!--//             // _this.initTemplatePage(page, size)-->
<!--//         },-->
<!--//         changeCallback: function (page, size) { //下拉框条数回调-->
<!--//             // _this.initTemplatePage(page, size)-->
<!--//         }-->
     <!--});-->
<!--</script>-->

<script src="/js/plugins/require.min.js"></script>
<script src="/js/config.js"></script>
<script>
    require(['../../js/views/index/index_v3'])
</script>


</body>
</html>